/* atoms styling section */
/* DummySidebar styles */
.search-container {
  background-color: blue;
  border-radius: 12px;
}
/* buttons Styles */
.accept-button {
  justify-items: center;
  margin: 0px 12px;
}
.deny-button {
  justify-items: center;
  margin: 0px 12px;
}

/* molecules styling section */
/* CounterThreadReport styles*/
.counter-container {
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 14px auto;
}

/* organism styling section */
/* ThreadReportContent styles */
.content-container {
  width: 1210px;
  margin: 0px 81px;
}
.thread-card .card-detail {
  margin: 0px 15px;
  flex: 1;
}
